<!-- Шапка -->
<header>
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td align="left">
                <img src="~/images/Столплит-новый-лого.jpg" alt="ЛОГОТИП" height="120">
            </td>
            <td align="left">
                <h1>СТОЛПЛИТ</h1>
            </td>
            <td>
                @if (ViewBag.IsUserLoggedIn != true)
                {
                    <button><a href="@Url.Action("Login", "Client")"> Войти</a></button>
                }
                else
                {
                    <button><a href="@Url.Action("Logout", "Client")"> Выйти</a></button>
                }
            </td>
            <td>
                @if (ViewBag.IsUserLoggedIn != true)
                {
                    <button><a href="@Url.Action("Create", "Client")"> Регистрация</a></button>
                }
                else
                {
                    <button><a href="@Url.Action("Basket", "Client")"> Корзина</a></button>
                }
            </td>
            <td>
                <button><a href="@Url.Action("Feedback", "Client")">Оставить отзыв</a></button>
            </td>
        </tr>
    </table>
</header>