@using OnlineStrore.Logic.Commands.Client.Create
<!-- Модальное окно регистрации -->
@model CreateClientCommand
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <!-- Подключаем стили -->
    <link href="@Url.Content("~/css/styles.css")" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- Модальное окно Регистрации -->
    <div id="registerModal" class="modal">
        <div class="modal-content">
            <h2>Регистрация</h2>
            @Html.ValidationSummary(true)

            <form asp-action="CreateClient" asp-controller="Client" method="post">
                <label>Имя</label><br>
                <input type="text" asp-for ="Name"><br><br>
                @Html.ValidationMessageFor(x => x.Name)

                <label>Email</label><br>
                <input type="email" asp-for="Email"><br><br>
                @Html.ValidationMessageFor(x => x.Email)

                <label>Ваш телефон:</label><br>
                <input type="text" asp-for="PhoneNubmer"><br><br>
                @Html.ValidationMessageFor(x => x.PhoneNubmer)

                <label>Пароль</label><br>
                <input type="text" asp-for="Password"><br><br>
                @Html.ValidationMessageFor(x => x.Password)

                <label>Повторите пароль</label><br>
                <input type="text" asp-for="ConnfigurePasswrod"><br><br>
                @Html.ValidationMessageFor(x => x.ConnfigurePasswrod)

                <input type="checkbox" id="offers" name="offers">
                <label for="offers">Получать информацию об акциях и скидках</label><br><br>

                <input type="checkbox" id="privacy" name="privacy" required>
                <label for="privacy">
                    Я ознакомлен и согласен с условиями
                    <a href="https://www.stolplit.ru/actions/politics/" target="_blank">политики конфиденциальности</a> и даю согласие на обработку
                    <a href="https://www.stolplit.ru/upload/medialibrary/f8e/t9alygngpdj4633lzr51mj7o65l9dydd/privacy_policy_stolplit.pdf" target="_blank">персональных данных</a>
                </label><br><br>
                <button type="submit">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</body>
</html>